<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="header_fragment">
    <a class="navbar-brand text-dark" href="#">Real Estate Management</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ">
            <a class="nav-link text-dark" href="/">Works</a>
            <a class="nav-link text-dark" href="/real-estate/list">List</a>
            <a class="nav-link text-dark" href="#contact">Contact</a>
        </div>
    </div>
</nav>