<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>物件登録画面</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div th:replace="common/header :: header_fragment"></div>
<div class="container">
    <div th:replace="common/notice :: notice_fragment"></div>
    <hr>
    <form th:action="@{/real-estate/list}" th:object="${s0004Form}" method="post">
        <div class="form-group form-inline input-group-sm">
            <label for="reName" class="col-md-2 control-label">物件名</label>
            <input type="text" class="form-control col-md-6" id="reName" name="reName" th:field="*{reName}">
        </div>
        <div class="form-group form-inline input-group-sm">
            <label for="mgrCompanyName" class="col-md-2 control-label">管理会社</label>
            <input type="text" class="form-control col-md-6" id="mgrCompanyName" name="mgrCompanyName" th:field="*{mgrCompanyName}">
        </div>
        <div class="form-group form-inline input-group-sm">
            <label for="area" class="col-md-2 control-label">エリア</label>
            <select class="form-control col-md-2" id="area" th:field="*{area}">
                <option th:each="area : ${areas}" th:value="${area}" th:selected="${area == defaultArea}">[[${area}]]
                </option>
            </select>
        </div>
        <div class="form-group form-inline input-group-sm">
            <label for="rentPrice" class="col-md-2 control-label">家賃</label>
            <input type="number" class="form-control col-md-2" id="rentPrice" min="10000" step="1000" name="rentPrice"
                   th:field="*{rentPrice}">　以下
        </div>
        <div class="form-group form-inline input-group-sm">
            <label for="foreignerLiveSts" class="col-md-2 control-label">外国人入居可否</label>
            <select class="form-control col-md-2" id="foreignerLiveSts" th:field="*{foreignerLiveSts}">
                <option th:each="select : ${foreignerLiveStatuses}" th:value="${select.value}">[[${select.name}]]
                </option>
            </select>
        </div>
        <div class="text-center">
            <button class="btn btn-sm btn-outline-secondary" type="submit">検索</button>
        </div>
    </form>

    <hr>

    <div class="table-responsive">
        <table class="table text-nowrap">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">物件名</th>
                <th scope="col">住所</th>
                <th scope="col">家賃</th>
                <th scope="col">管理会社</th>
                <th scope="col">管理会社TEL</th>
                <th scope="col">外国人入居可否</th>
                <th scope="col">更新日</th>
                <th scope="col" th:if="${role.hasRole('ROLE_ADMIN')}"></th>
            </tr>
        </thead>
        <tbody>

        <tr th:each="row : ${rows}">
            <th scope="row">
                <a th:href="@{/real-estate/detail(reId=${row.reId})}">詳細</a>
            </th>
            <td th:text="${row.reName}"></td>
            <td th:text="${row.address}"></td>
            <td th:text="${row.rentPrice}"></td>
            <td th:text="${row.mgrCompanyName}"></td>
            <td th:text="${row.mgrCompanyTel}"></td>
            <td th:text="${row.foreignerLiveSts}"></td>
            <td th:text="${row.updatedAt}"></td>
            <td th:if="${role.hasRole('ROLE_ADMIN') && row.pdf == null}">
                <form class="container" th:action="@{/real-estate/list/update(reId=${row.reId})}" method="post"
                      enctype="multipart/form-data">
                    <div class="form-group">
                        <input class="form-control-file" type="file" name="uploadFile"/>
                        <button class="btn btn-sm btn-outline-primary" type="submit">PDF登録</button>
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
        </table>
    </div>

    <nav aria-label="Page navigation example" th:if="${page != null}">
        <ul class="pagination">
            <li class="page-item disabled" th:if="${page.number == 0}">
                <a class="page-link" th:href="@{${url}(page=${page.number -1})}">Previous</a>
            </li>
            <li class="page-item" th:if="${page.number != 0}">
                <a class="page-link" th:href="@{${url}(page=${page.number -1})}">Previous</a>
            </li>
            <th:block th:each="i: ${#numbers.sequence(0, page.totalPages-1)}">
                <li th:if="${page.number == i}" class="page-item active">
                    <a class="page-link" th:href="@{${url}(page=${i})}" th:text="${i+1}"></a>
                </li>
                <li th:if="${page.number != i}" class="page-item">
                    <a class="page-link" th:href="@{${url}(page=${i})}" th:text="${i+1}"></a>
                </li>
            </th:block>
            <li class="page-item disabled" th:if="${page.number == page.totalPages-1}">
                <a class="page-link" th:href="@{${url}(page=${page.number +1})}">Next</a>
            </li>
            <li class="page-item" th:if="${page.number != page.totalPages-1}">
                <a class="page-link" th:href="@{${url}(page=${page.number +1})}">Next</a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>