<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>業務選択画面</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div th:replace="common/header :: header_fragment"></div>
<div class="container py-4">
    <div th:replace="common/notice :: notice_fragment"></div>
    <hr>
    <div class="card-deck">
        <div class="card">
            <a class="nav-link text-dark" href="/real-estate/register">
                <img th:src="@{/image/s0002_card.jpg}" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">物件登録</h5>
                <p class="card-text">物件を登録する</p>
            </div>
        </div>
        <div class="card">
            <a class="nav-link text-dark" href="/real-estate/list">
                <img th:src="@{/image/s0002_card.jpg}" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">物件一覧</h5>
                <p class="card-text">物件の一覧を検索する</p>
            </div>
        </div>
</div>
</body>
</html>